.about {
    padding: 50px 70px;
    
    h2 {
        margin-bottom: 30px;
    }

    h4 {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    ul {
        
        li {

        
        }

        
    }
}