.phone {
    padding: 50px 70px;

    h2 {
        margin-bottom: 40px;
    }

    &__block {
       display: flex; 
       justify-content: space-between;
       align-items: center;
       padding-bottom: 50px;
    }

    &__descr {
        max-width: 450px;
        

        p {

            span {
                color: rgb(54, 51, 51);
            }
        }
    }

    &__price {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: 500;
        padding: 20px;
        border-radius: 5px;
        background-color: rgb(252, 248, 7);
        
        button {
            margin-top: 20px;
            margin-bottom: 10px;
            border: 0;
            border-radius:5px;
            cursor: pointer;
            transition: all 0.5s;
            &:hover {
                background-color: rgb(255, 236, 129);
            }
        }
    }
    
    &__nav {
        display: flex;
        padding: 20px 50px 10px;
        border-bottom: 1px solid rgb(177, 165, 165);
    }
}

.nav__link {
    margin-right: 20px;
    padding-bottom: 20px;
    transition: all .5s;

    &:hover {
        opacity: 0.5;
    }
}

