.card {
    position: relative;
    border: 1px solid #F3F3F3;
    padding: 15px;
    width: 210px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
    
    &:hover {
      box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.06);
      transform: translateY(-3px);

    }

    .head__block {
        display: flex;
        justify-content: space-between;
        padding-right: 10px;
    }

    .raiting {
        display: flex;
        font-size: 14px;
        color: #BDBDBD;

        img {
            width: 20px;
            height: 20px;
            margin-right: 5px;
        }
    }

    .favorite {
        margin-bottom: 5px;
    }

    .plus {
        cursor: pointer;
    }

    p {
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        margin-bottom: 14px;
        margin-top: 10px;
    }

    &__image {
        margin: 0 auto;
    }

    &__btn {
        border:none;
        font-size: 14px;
        cursor: pointer;
        padding: 10px;
        border-radius: 5px;
        transition: all .6s;

        &:hover {
            background-color: rgb(97, 137, 221);
        }

        &:active {
            background-color: rgb(65, 214, 28);
        }
    }

    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__name {
        min-height: 50px;
    }

    &__price {
        display: flex;
        flex-direction: column;
        justify-content: center;
        span {
            display: block;
            font-size: 11px;
            line-height: 13px;
            text-transform: uppercase;
            color: #BDBDBD;
            margin-bottom: 2px;
        }

        p {
            font-weight: bold;
            font-size: 14px;
            line-height: 17px;
        }

    }

    &__cart {
        font-size: 12px;
        display: flex;
        justify-content: end;
    }
    
}