.footer {
    display: flex;
    justify-content: space-between;
    background-color: rgb(46, 46, 46);
    color: rgb(173, 167, 167);
    padding: 15px 20px;

    &__address {
        display: flex;
        max-width: 300px;
        flex-direction: column;

        p {
            margin-bottom: 20px;
        }

        a {
            color: inherit;
            transition: all 0.5s ;
            &:hover {
                color: #fff;
            }
        }
    }

    &__menu {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        max-width: 300px;

        .menu__left {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            width: 100px;
        }

        .menu__right {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            width: 100px;
        }

        a {
            display: block;
            color: inherit;
            transition: all 0.5s ;
            &:hover {
                color: #fff;
            }
        }
    }
}

@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        align-items: center;

        &__address {
            margin-bottom: 30px;
        }

        &__menu {
            margin-bottom: 30px;
        }
    }
}

@media (max-width: 360px) {
    .footer {

        &__map {
            display: none;
        }
    }
}